.my-card {
  margin: 1em 0 1em 0;
}
input.todo--more--checkbox {
  display:none;
  /*position: absolute;*/
  /*top: -9999px;*/
  /*left: -9999px;*/
  /* For mobile, it's typically better to position checkbox on top of clickable
     area and turn opacity to 0 instead. */
}

.todo--more {
  display:none;
}

input.todo--more--checkbox:checked  ~ .todo--more {
  display: block;
}
